body {
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
}

.btn-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  margin-left: 30px;
  left: 27%;
  top: 1%;
  width: 40%;
  height: 80px;
  background-color: #333;
  color: #ddd;
  font-size: 12px;
  border-radius: 15px;
  box-shadow: 4px 8px 4px 0px rgba(0, 0, 0, 0.548);
}

.btn-con a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 20px 50px;
  transition: background-color 0.3s ease;
}

.btn-con a:hover {
  background-color: #555;
}

.btn-con1 {
  position: absolute;
  margin-left: 13px;
  left: 0;
  top: 18%;
  height: 2vh;
  width: 100px;
}
.link a {
  background-color: #a07171;
  border-radius: 10px;
}
.container {
  margin-top: 20px;
  margin-left: 15%;
  height: 60vh;
  display: auto;
  overflow: auto;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border-radius: 19px;
  background: linear-gradient(
    90deg,
    #cd6b10 0%,
    rgba(19, 95, 138, 0.8) 101.97%
  );
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
}

.textinput {
  /* position: relative; */
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}

.in4 {
  position: fixed;
  top: 0;
  right: 0;
  /* left: 50%; */
  margin-right: 2%;
  margin-top: 2%;
}

.btn a{
  text-decoration: none;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="file"] {
  width: 200px;
  height: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 0.5px solid #eee;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#customer_name,
#customer_phone,
#customer_address {
  width: 220px;
}

/* Table styles */
.table-container {
  margin-top: 20px;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

#data-table th,
#data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Input field styles */
.textinput input[type="text"],
.textinput input[type="tel"],
.textinput input[type="date"],
.textinput input[type="number"] {
  width: 100%;
  /* Make the input fields full-width by default */
  box-sizing: border-box;
}

.total-paid-due {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.total-paid-due label,
.total-paid-due input {
  width: calc(33.33% - 10px);
  /* Adjust the width as needed */
  box-sizing: border-box;
  margin-bottom: 10px;
}

#total_amount,
#paid_amount,
#due_amount,
#row_count {
  width: 20%;
  margin-right: 50px;
}

#total_amount,
#due_amount,
#row_count {
  color: #ffffff;
  border-radius: 6px;
  background: #827d7d;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  margin-bottom: 5px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

button:hover {
  background: #f6f9fe;
  color: #174ea6;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

input[type="text"] {
  width: 200px;
}

.end {
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

hr {
  width: 100%;
}

.in4 input[type="submit"] {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.in4 input[type="submit"]:hover {
  background: #f6f9fe;
  color: #174ea6;
}
.btn a{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}
.btn a:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.btn a:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn a:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.btn a:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.btn a:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.btn a:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.btn a:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.btn a:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
