@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4791f;
  box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
}
header img {
  width: 250px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(4, 85, 131);
  background-size: cover;
  background-position: center;
  animation: animateBg 5s linear infinite;
}

/* @keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
} */

.login-box {
  position: absolute;
  top: 20%;
  width: 50%;
  height: 700px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  line-height: 57px;
}

button {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #000;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkbox {
  color: #fff;
}

.log h4 {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.log a {
  /* text-decoration: none; */
  color: #fff;
  font-size: 18px;
  margin-left: 80px;
}

.forpass a{
  color: #fff;
  text-decoration: none;
}
#loaderOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}

.loader {
  /* Loader styles */
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.loading {
  display: inline-block !important;
  /* Override display property */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 360px) {
  .login-box {
    width: 100vh;
    height: 100vh;
    border: none;
    border-radius: 0;
  }

  .input-box {
    width: 290px;
  }
}

.nav .h2 {
  font-size: 2em;
  color: #fff;
  text-align: left;
}

.error-msg {
  position: relative;
  color: red;
  font-size: 20px;
  margin-top: 5px;
  margin-left: 68px;
}
